<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>CPU DIFF - ARTICLE</title>
    <link rel="stylesheet" href="article.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="assets/images/logo.svg">
                <h1>CPU DIFF</h1>
            </div>
            <div class="view-name" *ngIf="article"><h1>{{ article.title }}</h1></div>
            <div class="menu-link-div">
                <a routerLink="/menu" class="menu-link">menu</a>
            </div>
        </div>
        <div class="article-container" *ngIf="article">
            <p>{{ article.content }}</p>
            </div>
    </div>
  </body>
</html>