<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>CPU DIFF - ARTICLE</title>
    <link rel="stylesheet" href="article.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="logo.svg">
                <h1>CPU DIFF</h1>
            </div>
            <div class="view-name"><h1>Tytuł artykułu</h1></div>
            <div class="menu-link-div">
                <a href="" class="menu-link">menu</a>
            </div>
        </div>
        <div class="article-container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida lobortis ex. Praesent a tincidunt tortor. Nullam posuere, augue nec volutpat aliquam, quam metus vulputate turpis, nec porta lorem purus non nunc. Phasellus rutrum vitae nisi porta varius. Suspendisse placerat imperdiet cursus. Duis ante turpis, dictum ac porttitor a, varius at magna. Proin sit amet quam metus. Nullam vel tortor tortor.
            </p>
            <p>
                Aenean eu euismod est. Quisque et sem placerat, pharetra urna vel, ultricies dui. Nulla eros ex, feugiat vitae quam non, bibendum placerat purus. Cras eu lorem feugiat, finibus est eget, iaculis nibh. Nullam sed tincidunt ligula. Praesent consectetur molestie finibus. Etiam suscipit dignissim odio eget molestie. Nullam aliquet elit id auctor efficitur. Nam ut magna quis mauris facilisis bibendum. Suspendisse volutpat lobortis ante, fermentum congue nunc mollis nec. Vestibulum maximus ante vel est ornare dictum. In dignissim feugiat sem vel feugiat. Duis pellentesque lobortis lorem, non cursus felis porttitor in. Phasellus facilisis purus vel orci lacinia, vel luctus dui posuere. Aliquam tincidunt posuere urna, finibus pharetra odio tempor id. Pellentesque et nulla ut arcu posuere varius.
            </p>
            <p>
                Phasellus et malesuada lectus, at vestibulum arcu. Nam eu elit eleifend, porttitor nisi in, eleifend tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris at imperdiet mauris. Nunc placerat elementum augue, nec facilisis massa malesuada eget. Sed lobortis facilisis nulla ac iaculis. Phasellus risus felis, fermentum id felis vestibulum, porttitor feugiat eros. Aenean convallis hendrerit enim, id imperdiet ex ullamcorper nec. In hac habitasse platea dictumst. Mauris lacinia posuere orci, viverra dapibus massa. Nullam dolor orci, porta sed posuere vel, ultrices non sapien. Aenean elementum turpis diam, in tempus nunc scelerisque a.
            </p>
            <p>
                Ut interdum volutpat eleifend. Morbi sem sem, dapibus ac vulputate ac, gravida ut sapien. Aenean iaculis, neque non vulputate imperdiet, leo felis sagittis erat, et consequat leo mi in turpis. Ut rhoncus, arcu et scelerisque ornare, purus neque suscipit magna, nec posuere elit orci tempor dui. Vestibulum a imperdiet enim, sit amet dictum eros. Suspendisse lacinia lorem tristique fringilla eleifend. Ut eget tortor in mauris laoreet ullamcorper at sed felis. Phasellus non laoreet mi, et ornare enim.
            </p>
            <p>
                In ac efficitur lectus. Praesent placerat purus eu condimentum ullamcorper. Vestibulum commodo lobortis viverra. Sed consequat aliquet molestie. Vestibulum lorem augue, porta a tempus vitae, finibus ut eros. Phasellus orci diam, eleifend at velit consequat, finibus rutrum orci. Ut lorem arcu, ullamcorper et leo vel, congue luctus justo. Etiam interdum dui urna, at convallis mauris euismod eu. In congue accumsan vestibulum. Proin eros urna, faucibus cursus odio sit amet, ornare imperdiet diam. Integer eget nisi dapibus, sagittis mauris vel, placerat mauris. Nulla facilisi. Vivamus nunc diam, gravida vel sodales aliquam, gravida ut dui. Integer pretium lacinia libero, in elementum sem. Ut maximus tellus quis gravida efficitur. Nunc blandit nunc eu ullamcorper facilisis.
            </p>
            </div>
    </div>
  </body>
</html>