.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width:90%;
    height: 90%;
    text-align: center;
    font-family: 'K2D', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
}

.logo{
    width: 25%;
    align-items: center;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vmin;
    align-items: center;
    margin-bottom: 0;
}

.logo h1 {
    font-size: 3vmin;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 0;
}

.view-name{
    width: 50%;
    font-size: 2.5vmin;
    color: white;
}

.menu-link-div{
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.menu-link{
    text-decoration: none;
    font-size: 5vmin;
    color: white;
}

.menu-link:hover{
    color: #0CE1F0;
}

.comparison-div {
    margin-top: 2%;
    overflow-y:auto;
    height: 80%;
}

.comparison-div::-webkit-scrollbar {
    display: none;
  }

#cpus1, #cpus2 {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 5vh;
    font-size: 5vmin;
    color: #0CE1F0;
    background: none;
    border: none;
    margin-top: 1vh;
}

.trait p {
    font-size: 4vmin;
    color: #F06F18;
}

.trait-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trait-cpu-1, .trait-cpu-2 {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3.5vmin;
    width: 25%;
}
