<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>CPU DIFF - COMPARISON</title>
    <link rel="stylesheet" href="comparison.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="assets/images/logo.svg">
                <h1>CPU DIFF</h1>
            </div>
            <div class="view-name"><h1>CPU COMPARISON</h1></div>
            <div class="menu-link-div">
                <a routerLink="/menu" class="menu-link">menu</a>
            </div>
        </div>
        
        <div class="comparison-div">
            <select name="cpus1" id="cpus1">
                <option *ngFor="let processor of processors" value={{processor.id}}>{{processor.name}}</option>
            </select>

            <select name="cpus2" id="cpus2">
                <option *ngFor="let processor of processors" value={{processor.id}}>{{processor.name}}</option>
            </select>

            <div class="trait">
                <p>Klasa CPU</p>
                <div class="trait-content">
                    <div class="trait-cpu-1">{{processor1.cpuClass}}</div>
                    <div class="trait-cpu-2">{{processor2.cpuClass}}</div>
                </div>
            </div>

            <div class="trait">
                <p>Rdzenie</p>
                <div class="trait-content">
                    <div class="trait-cpu-1">{{processor1.cores}}</div>
                    <div class="trait-cpu-2">{{processor2.cores}}</div>
                </div>
            </div>

            <div class="trait">
                <p>Taktowanie zegara (GHz)</p>
                <div class="trait-content">
                    <div class="trait-cpu-1">{{processor1.processorClockSpeed}}</div>
                    <div class="trait-cpu-2">{{processor2.processorClockSpeed}}</div>
                </div>
            </div>

            <div class="trait">
                <p>Prędkość turbo zegara (GHz)</p>
                <div class="trait-content">
                    <div class="trait-cpu-1">{{processor1.processorClockSpeedTurbo}}</div>
                    <div class="trait-cpu-2">{{processor2.processorClockSpeedTurbo}}</div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>