<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>CPU DIFF - ARTICLES</title>
    <link rel="stylesheet" href="./article-list.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="assets/images/logo.svg">
                <h1>CPU DIFF</h1>
            </div>
            <div class="view-name"><h1>Dowiedz się więcej!</h1></div>
            <div class="menu-link-div">
                <a routerLink="/menu" class="menu-link">menu</a>
            </div>
        </div>
        <div class="articles-container">
            <a *ngFor="let article of articles" class="article-link" [href]="'/articles/' + article.id">
                <div class="article">
                    <p>{{article.title}}</p>
                </div>
            </a>
            
        </div>
    </div>
  </body>
</html>