<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>CPU DIFF - EXPLORE</title>
    <link rel="stylesheet" href="processor.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="assets/images/logo.svg">
                <h1>CPU DIFF</h1>
            </div>
            <div class="view-name">
                <select name="cpus" id="cpus" [(ngModel)]="selectedProcessor1Id" (change)="onProcessor1Change()">
                    <option *ngFor="let processor of processors" [value]="processor.id">{{processor.name}}</option>
                </select>
            </div>
            <div class="menu-link-div">
                <a routerLink="/menu" class="menu-link">menu</a>
            </div>
        </div>
        
        <div class="explore-div">

            <div class="trait">
                <p>Klasa CPU</p>
                <div class="trait-cpu" *ngIf="processor1">{{processor1.cpuClass}}</div>
            </div>

            <div class="trait">
                <p>Rdzenie</p>
                <div class="trait-cpu" *ngIf="processor1">{{processor1.cores}}</div>
            </div>

            <div class="trait">
                <p>Taktowanie zegara (GHz)</p>
                <div class="trait-cpu" *ngIf="processor1">{{processor1.processorClockSpeed}}</div>
            </div>

            <div class="trait">
                <p>Prędkość turbo zegara (GHz)</p>
                <div class="trait-cpu" *ngIf="processor1">{{processor1.processorClockSpeedTurbo}}</div>
            </div>

            <form>
                <div class="comments-div">
                    <textarea name="comments-input" class="add-comment-input" [(ngModel)]="newComment"></textarea>
                    <div class="add-comment-button" (click)="addComment()">Dodaj komentarz</div>
                    <div class="comments">
                        
                        <div class="comment" *ngFor="let comment of comments">
                            <div class="nickname">{{comment.userNick}}</div>
                            <p>{{comment.content}}</p>
                        </div>
                        <div class="comment">
                            <div class="nickname">Nick12</div>
                            <p>I love this CPU! AMAZING CPU!!!!! BUY NOW!</p>
                        </div>
                        <div class="comment">
                            <div class="nickname">LOL123</div>
                            <p>sdaf sdfasf dfeasf wdasdf wdwadaaa DSA.</p>
                        </div>
                        <div class="comment">
                            <div class="nickname">Nick12</div>
                            <p>I love this CPU! AMAZING CPU!!!!! BUY NOW!</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </body>
</html>