<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>CPU DIFF - EXPLORE</title>
    <link rel="stylesheet" href="processor.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="assets/images/logo.svg">
                <h1>CPU DIFF</h1>
            </div>
            <div class="view-name">
                <select name="cpus" id="cpus">
                    <option value="INTELCOREI58300H">Intel Core i5 8300H</option>
                    <option value="AMDRYZEN55600">AMD Ryzen 5 5600</option>
                    <option value="INTELCOREI712700H">Intel Core i7 12700H</option>
                </select>
            </div>
            <div class="menu-link-div">
                <a href="" class="menu-link">menu</a>
            </div>
        </div>
        
        <div class="explore-div">

            <div class="trait">
                <p>Klasa CPU</p>
                <div class="trait-cpu">Laptop</div>
            </div>

            <div class="trait">
                <p>Rdzenie</p>
                <div class="trait-cpu">4</div>
            </div>

            <div class="trait">
                <p>Taktowanie zegara (GHz)</p>
                <div class="trait-cpu">2.3</div>
            </div>

            <div class="trait">
                <p>Prędkość turbo zegara (GHz)</p>
                <div class="trait-cpu">4</div>
            </div>

            <form>
                <div class="comments-div">
                    <textarea name="comments-input" class="add-comment-input"></textarea>
                    <button class="add-comment-button">Dodaj komentarz</button>
                    <div class="comments">
                        <div class="comment">
                            <div class="nickname">Nick12</div>
                            <p>I love this CPU! AMAZING CPU!!!!! BUY NOW!</p>
                        </div>
                        <div class="comment">
                            <div class="nickname">Nick12</div>
                            <p>I love this CPU! AMAZING CPU!!!!! BUY NOW!</p>
                        </div>
                        <div class="comment">
                            <div class="nickname">LOL123</div>
                            <p>sdaf sdfasf dfeasf wdasdf wdwadaaa DSA.</p>
                        </div>
                        <div class="comment">
                            <div class="nickname">Nick12</div>
                            <p>I love this CPU! AMAZING CPU!!!!! BUY NOW!</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </body>
</html>