body {
    margin: 0;
    padding: 0;
    background: #1C1A1D;
    height: 100%;
    overflow: hidden;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width:90%;
    height: 90%;
    text-align: center;
    font-family: 'K2D', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
}

.logo{
    width: 25%;
    align-items: center;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vmin;
    align-items: center;
    margin-bottom: 0;
}

.logo h1 {
    font-size: 3vmin;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 0;
}

.view-name{
    width: 50%;
    font-size: 2.5vmin;
    color: white;
}

.menu-link-div{
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.menu-link{
    text-decoration: none;
    font-size: 5vmin;
    color: white;
}

.menu-link:hover{
    color: #0CE1F0;
}

.explore-div {
    margin-top: 2%;
    overflow-y:auto;
    height: 80%;
}

.explore-div::-webkit-scrollbar {
    display: none;
  }

#cpus {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 5vh;
    font-size: 5vmin;
    color: #0CE1F0;
    background: none;
    border: none;
}

.trait p {
    font-size: 4vmin;
    color: #F06F18;
    width: 40%;
}

.trait-cpu {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 4vmin;
    width: 30%;
}

.trait {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comments-div {
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-comment-input {
    width: 80%;
    height: 10vh;
    margin-top: 3vh;
    background: none;
    color: white;
    font-size: 2.5vmin;
    border: 2px solid #A000F0;
}

.add-comment-button {
    background-color: #A000F0;
    color: white;
    font-size: 2.5vmin;
    border-radius: 50px;
    width: 30%;
    margin-top: 1vh;
}
.comments{
    width: 100%;
    margin-top: 3vh;
}

.nickname{
    color: #0CE1F0;
    font-size: 2.5vmin;
    width: 80%;
    margin-left: 10%;
    text-align: left;
}

.comment p {
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: left;
    margin-top: 0;
}
