<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>CPU DIFF - LOGIN</title>
    <link rel="stylesheet" href="login.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="logo">
            <img src="assets/images/logo.svg">
            <h1>CPU DIFF</h1>
        </div>

      <form #loginForm="ngForm" (ngSubmit)="onUserLogin(loginForm)">
        <label for="email">Email:</label>
        <input type="text" id="email" ngModel name="email" required />

        <label for="password">Haslo:</label>
        <input type="password" id="password" ngModel name="password" required />

        <input type="submit" id="submit" value="Zaloguj" />
      </form>
      <a routerLink="/register">Zarejestruj się!</a>
    </div>
  </body>
</html>